/.metadata/
myfirstwebapplication/
demo/
employee-service/
HB01-SaveApp/
learn-jpa-and-hibernate/
learn-spring-boot/
learn-spring-framework01/
learn-spring-framework2/
ProjectWithMaven/
quizapp/
RestAPISpringBoot/
SpringBoot/
springboot_mvc/
web-app2/
Webapp-RestApi/
Webapp-RestApi2/
Webapp-RestApiwithcrud/
